# Environment
.env
venv/
env/
.venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.pdf
*.log

# OS specific
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log
logs/

# Large data files
Data/data/train_turn.json
Data/data/train.json
Data/data/*.json
!Data/data/dev.json



